---
- name: Install RKE2 Agent
  hosts: agent
  become: yes

  tasks:
    - name: Create RKE2 config directory
      file:
        path: /etc/rancher/rke2
        state: directory
      tags: [rke2, agent, setup]

    # -------------------------
    # Load token from Jenkins workspace
    # -------------------------
    - name: Load RKE2 token from Jenkins workspace
      slurp:
        src: "{{ lookup('env','WORKSPACE') }}/rke2_token.txt"
      register: agent_token_data
      delegate_to: localhost
      become: no
      tags: [rke2, agent, token]

    - name: Decode RKE2 token
      set_fact:
        rke2_token: "{{ agent_token_data.content | b64decode | trim }}"
      tags: [rke2, agent, token]

    - name: Create RKE2 agent config
      copy:
        dest: /etc/rancher/rke2/config.yaml
        content: |
          server: https://{{ hostvars['vm1']['ansible_host'] }}:9345
          token: "{{ rke2_token }}"
      tags: [rke2, agent, config]

    - name: Download RKE2 install script
      get_url:
        url: https://get.rke2.io
        dest: /tmp/install.sh
        mode: '0755'
      tags: [rke2, agent, install]

    - name: Install RKE2 agent
      shell: INSTALL_RKE2_TYPE=agent sh /tmp/install.sh
      tags: [rke2, agent, install]

    - name: Enable and start RKE2 agent
      systemd:
        name: rke2-agent
        enabled: yes
        state: started
      tags: [rke2, agent, service]
