---
- name: Install RKE2 Agent
  hosts: agent
  become: yes

  tasks:
    - name: Create RKE2 config directory
      file:
        path: /etc/rancher/rke2
        state: directory

    - name: Set server URL and token
      copy:
        dest: /etc/rancher/rke2/config.yaml
        content: |
          server: https://{{ hostvars['vm1']['ansible_host'] }}:9345
          token: K102ff0c4dae6af2c799b22d908d2908d183c52af2b721dc101dc81f7270282b0f2::server:d245ec8eeaf1d04a7c4bacb623f67ff5

    - name: Download RKE2 install script
      get_url:
        url: https://get.rke2.io
        dest: /tmp/install.sh
        mode: '0755'

    - name: Install agent
      shell: INSTALL_RKE2_TYPE=agent sh /tmp/install.sh

    - name: Enable and start agent
      systemd:
        name: rke2-agent
        enabled: yes
        state: started
